.main {
  padding: 2rem 3rem;

  &__title {
    padding: 2rem 0rem 0.5rem 0.8rem;
    border-bottom: 1px black solid;
  }

  &__columns {
    display: flex;
    padding-top: 1rem;
  }

  &__column-header {
    flex: 1;
    font-weight: bold;
    font-size: 1.2rem;
  }
}
